.top {
    width: 100%;
    height: 30%;
    background-size:percentage;
    overflow: hidden;
    position: relative;
    background: url(../images/dbg.jpg);
}


.body{
    background: center/cover no-repeat;
    background-image: url(../images/dbg1.jpg);
    background-attachment: fixed;
}

.left-about{
    width: 630px;
    height: 500px;
    background: rgb(255, 255, 255,0.9);
    margin:90px 0px 0px 126px;
    border-radius: 10px;
    box-shadow: 10px 15px 15px 1px black;/* 阴影部分 */
    float: left;

}

.touxiang{
    width: 112px;
    height: 112px;
    background: aqua;
    margin: 20px 0px 0px 266px;
	border-radius: 50%;/* 将图片菱角变圆 */
	cursor: pointer;/* 鼠标变手势 */
    float: left;
}

.touxiang>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;/* 将图片菱角变圆 */
}

.xm{
    display:block;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.aboutlianjie{
    height: 50px;
    width: auto;
    /* background: chartreuse; */
    float: left;
    margin-top: 60px;
    margin-left: 208px;
    
}

.about-icon{
    width: 100%;
    height: 33px;
    /* background: lightcoral; */
    line-height: 35px;
    overflow: hidden;
}

.center{
    margin-left: 220px;
    float: left;
}

.a{
    display: block;
    width: 33px;
    height: 33px;
    /* background: red; */
    margin-left: 10px;
    text-align:center;
    float: left;
    line-height: 22px;
    border-radius: 50%;/* 将图片菱角变圆 */
}

.qq{
    background:url(../images/QQ.png);
    background-size: contain;
}


.wx{
    background:url(../images/wx.png);
    background-size: contain;
}

.csdn{
    background:url(../images/csdn.png);
    background-size: contain;
}

.github{
    background:url(../images/github.png);
    background-size: contain;
}

.email{
    background:url(../images/email.png);
    background-size: contain;
}

/* 图片旋转的动画 keyframes指定动画效果，用的是动画的2D转换*/
@keyframes img_rotate {
	from {
		 transform: rotate(0deg);  /*从0度 */
	} to {
		transform: rotate(360deg); /*转到360度*/
	}
}

/* 绑定动画到div，同时设置动画执为2s 以及改为infinite无休止的次数,鼠标移上去开始转 */
.touxiang img:hover {
	animation: img_rotate 2s infinite linear;
}

.wx:hover~.wxhideen{
    display: block;
}

.qq:hover~.qqhideen{
    display: block;
}

.csdn:hover~.csdn1{
    display: block;
}

.github:hover~.github1{
    display: block;
}

.email:hover~.email1{
    display: block;
}
.wxhideen{
    position: absolute;
    width: 123px;
    height: 145px;
    left: 295px;
    top: 430px;
    /* background:rgb(219, 35, 35);    */
    opacity: 1; 
    display: none;
}

.wxhideen>img{
    width: 100%;
    height: 110px;
    margin-left: 0 auto;
}

.qqhideen>img{
    width: 100%;
    height: 110px;
    margin-left: 0 auto;
}

.desc{
    margin-top: -30px;
    font-size: 15px;
    background:white;
    border-radius: 10%;
}

.qqhideen{
    position: absolute;
    width: 95px;
    height: 165px;
    left: 352px;
    top: 432px;
    /* background:rgb(219, 35, 35);    */
    opacity: 1; 
    display: none;
}

.github1{
    position: absolute;
    width: 123px;
    height: 145px;
    left: 381px;
    top: 465px;
    /* background:rgb(219, 35, 35);    */
    opacity: 1; 
    display: none;
}
.csdn1{
    position: absolute;
    width: 123px;
    height: 145px;
    left: 417px;
    top: 465px;
    /* background:rgb(219, 35, 35);    */
    opacity: 1; 
    display: none;
}

.email1{
    position: absolute;
    width: 143px;
    height: 145px;
    left: 475px;
    top: 465px;
    /* background:rgb(219, 35, 35);    */
    opacity: 0.9; 
    display: none;
}

.right-about{
    width: 420px;
    height: 380px;
    background:rgb(255, 255, 255,0.9);
    float: left;
    margin:90px 0px 0px 126px;
    border-radius: 10px;
    box-shadow: 10px 15px 15px 1px black;/* 阴影部分 */
}

.text{
    width: 100%;
    height: 35px;
    /* background: lemonchiffon; */
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    margin-left: 3px;
    margin-top: 6px;
    border-bottom: 1px solid rgb(107, 105, 105);
    color: #58a3f8;
}

.name{
    width: 100%;
    height: 100px;
    /* background: blue; */
    border-bottom: 1px solid rgb(107, 105, 105);
    float: left;
}

.name1{
    width: 370px;
    height: 50px;
    margin: 25px 25px 25px 25px;
    text-align: center;
    line-height: 50px;
    /* background: seagreen; */
    font-size: 25px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    border: 2px solid rgb(109, 104, 104);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: slategrey;
    font-family: "楷体";

}

.interested{
    width: 100%;
    height: 60px;
    float: left;
    opacity: 0.9;
    margin: 0 auto;
}

.pic{
    width: 100%;
    height: 235px;
    /* background: springgreen; */
    float: left;
}

.pic>img{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 250px;
    color: rgb(223, 212, 196);
    background-color: rgba(19, 18, 18, .60);
    font-size: 18px;
    text-align: center;
    font-family: "楷体";
}

.biaoqian{
    width: 420px;
    height: 120px;
    background:rgb(255, 255, 255,0.9);
    float: left;
    margin:90px 0px 0px 126px;
    overflow: hidden;
}

body::-webkit-scrollbar { width: 0 !important }